body{
  font-family: sans-serif;
  background-color: rgb(224, 221, 221);
  display: flex;
  min-height: 100vh;
}
h1{
  color: rgb(255, 242, 2);
  text-transform: uppercase;
  -webkit-text-stroke: 2px rgb(11, 11, 11);
}
form{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur;
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  text-align: center;
  margin: auto;
  max-width: 400px;
  padding: 30px;
  border-radius: 25px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#textbox{
  width: 50%;
  font-size: 2em;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 6px;
  margin-bottom: 1rem;
}
label{
  font-size: 1.5em;
  font-weight: bold;
}
button{
  font-size: 1.5em;
  margin-top: 2rem;
  font-weight: bold;
  background-color: rgb(5, 5, 220);
  border: none;
  border-radius: 6px;
  padding: 8px 1rem;
  color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-bottom: 1rem;
}
button:hover{
  opacity: 0.7;
}
#result{
  font-size: 1.5em;
  font-weight: bold;
}